* {
    box-sizing: border-box;
    background-color: rgb(194, 116, 194);
    color: white;
    padding: 0;
    margin: 0;
    background-image: url(../assets/img/dog.png);
    background-size:cover;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    padding-top: 20px;
    justify-content: center;    
}